:root {
  --primary-color: #EA731F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 375px;
  height: auto;
}

.user-login-container {
  width: 375px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2879);
  border-radius: 6px;
  position: relative;
}
.app-logo {
  position: absolute;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-logo img {
  width: 167.12px;
  height: 51.18px;
  top: 7.89px;
  padding: 0px 0px 0.01px 0px;
}
.banner-line {
  position: absolute;
  width: 400.75px;
  height: 3.72px;
  top: 76px;
  background-color: var(--primary-color);
}

.login-form-container {
  position: absolute;
  top: 116px;
  width: 323px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: center;
}

.login-form-title{
  height: 33px;
  font-weight: bold;
  font-size: 20.8px;
  line-height: 32.5px;
  color: #333333;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.entry-input {
  width: 100%;
  height: 54px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  padding-left: 9px;
}

.entry-input::placeholder {
  font-weight: 450;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
}

.password-input {
  position: relative;
}

.eye-icon {
  z-index: 9999;
  position: absolute;
  top: 15px;
  left: 291px;
}

.eye-icon img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.input-checkbox {
  display: flex;
  width: 133px;
  justify-content: space-between;
  align-items: center;
}

.input-checkbox input {
  width: 24px;
  height: 24px;
}

.input-checkbox input[type="checkbox"] {
    border: 1px solid #CCCCCC;
    border-radius: 2PX;
    accent-color: var(--primary-color);
}
.input-checkbox p {
  font-size: 15.6px;
  font-weight: 450;
  line-height: 17.85px;
}
.forget-password-link a {
  height: 21px;
  font-weight: 450;
  font-size: 18.2px;
  line-height: 20.82px;
  color: #486082;
  text-decoration: none;
}

.login-button {
  position: absolute;
  top: 532px;
  width: 146px;
  height: 44px;
  border: none;
  border-radius: 3.3px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 17.6px;
  line-height: 21px;
  letter-spacing: 0.55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.security-warning-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  top: 600px;
  background: rgba(94, 107, 117, 1);
  border-radius: 0 0 6px 6px;
}

.warning-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 164.75px;
  height: 18px;
  color: #FFFFFF;
}
.warning-box img {
  width: 12.86px;
  height: 14.99px;
}
.warning-box p {
  width: 144px;
  height: 18px;
  font-size: 13px;
  font-weight: 450;
  line-height: 18px;
  text-align: center;
}
.introduction {
  display: none;
}
.introduction img {
  position: absolute;
  width: 375.05px;
  height: 217.72px;
  top: 320.79px;
  left: 697px;
}
.introduction p {
  position: absolute;
  width: 394px;
  height: 149px;
  top: 566px;
  left: 697px;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}
.introduction-logo {
  position: absolute;
  width: 554.2px;
  height: 552px;
  top: -167px;
  left: 1199px;
  display: none;
}
.introduction-logo .logo {
  position: absolute;
  justify-items: center;
  width: 548.3px;
  height: 200.59px;
  top: 233.46px;
  left: 5.9px;
  z-index: 1;
}
.introduction-logo .logo p {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 10px;
  color: #3D3D3D;
}
.eclipse {
  width: 552px;
  height: 552px;
  border-radius: 50%;
  background-color: #F3F4F4;
}
.desktop-mobile-image {
  position: absolute;
  width: 1256px;
  height: 942px;
  top: 97px;
  left: 861px;
  z-index: 2;
  display: none;
}
.mobile {
  position: absolute;
  top: 375px;
  left: 407px;
  z-index: 2;
}
.desktop {
  position: absolute;
  top: 0;
  left: 0;
}

.chat-icon-container {
  position: absolute;
  width: 87px;
  height: 87px;
  top: 972px;
  left: 1815px;
  padding: 7.5px 0px 0px 0px;
  display: none;
}
.chat-icon {
  width: 72px;
  height: 72px;
  top: 7.5px;
  left: 7.5px;
  background: linear-gradient(180deg, #FFFFFF 14.78%, #CECECE 98.91%);
  border: 1.5px solid #C5C5C5;
  box-shadow: 0px 3px 3px 0px #00000023;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) {
  body {
    background-image: url('images/background.png');
    background-size: 4096px 1990px;
    background-position: right -185px bottom -219px;
  }
  .container {
    width: 375px;
    height: 636px;
    margin: 20px auto;
  }
}
@media (min-width: 1280px) {
  body {
    background-position: right calc((100vw - 1280px) / 2 - 185px) bottom -219px;
  }
  .container {
    width: 1280px;
    height: 800px;
    position: relative;
    margin: 0;
  }
  .user-login-container {
    width: 309.54px;
    height: 460px;
    top: 170px;
    left: 68.9px;
    box-shadow: 0px 1.92px 3.83px 0px rgba(0, 0, 0, 0.2879);
    border-radius: 3.83px;
  }
  .app-logo img {
    width: 170.01px;
    height: 51.81px;
    top: 5.08px;
    padding: 5.83px 20.47px 6.45px 20.46px;
  }
  .banner-line {
    width: 100%;
    height: 2.87px;
    top: 61.33px;
  }
  .login-form-container {
    width: 267.37px;
    top: 83.38px;
    gap: 32.58px;
  }
  .login-form-title{
    height: 24px;
    font-size: 15.33px;
    font-weight: 500;
    line-height: 23.96px;
    font-weight: 600;
  }
  .login-form {
    gap: 9.58px;
  }
  .entry-input {
    height: 43.12px;
    border-radius: 0.96px;
    padding-left: 8.63px;
    padding-top: 6.23px;
  }
  .entry-input::placeholder {
    font-size: 15.33px;
    line-height: 17.54px;
  }
  .eye-icon {
    top: 10.42px;
    left: 236.33px;
  }
  .eye-icon img {
    width: 23px;
    height: 23px;
    object-fit: scale-down;
  }
  .input-checkbox {
    width: 97.75px;
    height: 15.33px;
  }
  .input-checkbox input {
    width: 15.33px;
    height: 15.33px;
  }
  .input-checkbox span {
    font-size: 11.5px;
    line-height: 13.16px;
  }
  .forget-password-link a {
    height: 15px;
    font-size: 13.42px;
    line-height: 15.35px;
  }
  .login-button {
    width: 127px;
    height: 38px;
    border-radius: 1.92px;
    top: 365.13px;
    font-size: 15.33px;
    line-height: 19.17px;
    letter-spacing: 0.48px;
  }
  .security-warning-box {
    height: 30.67px;
    top: 430px;
    border-radius: 0px 0px 3.83px 3.83px;
    box-shadow: 0px 2.16px 4.31px 0px rgba(0, 0, 0, 0.2879);
  }
  .warning-box {
    width: 158.12px;
    height: 17.25px;
  }
  .warning-box img {
    width: 12.46px;
    height: 14.38px;
  }
  .warning-box p {
    width: 138px;
    height: 18px;
    font-size: 12.46px;
    line-height: 17.25px;
  }
  .introduction {
    display: block;
  }
  .introduction img {
    width: 237.41px;
    height: 137.82px;
    top: 270px;
    left: 441.06px;
  }
  .introduction p {
    width: 240px;
    height: 118px;
    top: 437px;
    left: 441px;
    font-size: 13px;
    font-weight: 450;
    line-height: 17.7px;
  }
  .introduction-logo {
    display: block;
    width: 423.47px;
    height: 404px;
    top: -105px;
    left: 763.2px;
  }
  .introduction-logo .logo {
    width: 423.47px;
    height: 154.92px;
    top: 163.43px;
  }
  .introduction-logo .logo p {
    height: 25.4px;
    font-size: 24px;
    letter-spacing: 6px;
  }
  .introduction-logo .logo img {
    width: 321.54px;
    height: 98.47px;
    top: 14.76px;
    left: 51.23px;
  }
  .eclipse {
    width: 404px;
    height: 404px;
  }
  .desktop-mobile-image {
    display: block;
    width: 857.84px;
    height: 643.38px;
    top: 111.48px;
    left: 480px;
  }
  .mobile {
    object-fit: scale-down;
    width: 543.66px;
    height: 362.49px;
    top: 256px;
    left: 296px;
  }
  .desktop {
    object-fit: scale-down;
    width: 857.84px;
    height: 643.38px;
  }
  .chat-icon-container {
    display: block;
    width: 67px;
    height: 67px;
    top: 716px;
    left: 1194px;
    padding: 5.78px;
  }
  .chat-icon {
    width: 55.45px;
    height: 55.45px;
    top: 5.78px;
    left: 5.78px;
  }
  .chat-icon img {
    width: 27.29px;
    height: 31.19px;
  }
}
@media (min-width: 1440px) {
  body {
    background-position: right calc((100vw - 1440px) / 2 - 185px) bottom -219px;
  }
  .container {
    width: 1440px;
    height: 900px;
    margin: 0;
  }
  .user-login-container {
    width: 348.23px;
    height: 517.5px;
    top: 191px;
    left: 77.51px;
    box-shadow: 0px 2.16px 4.31px 0px rgba(0, 0, 0, 0.2879);
    border-radius: 4.31px;
  }
  .app-logo img {
    width: 191.26px;
    height: 58.29px;
    top: 5.72px; 
    padding: 6.31px 22.65px 7.51px 23.39px;
  }
  .banner-line {
    top:69px;
    height: 3.23px;
  }
  .login-form-container {
    width: 300.8px;
    top: 93.8px;
    gap: 36.66px;
  }
  .login-form-title{
    height: 27px;
    font-size: 18px;
    line-height: 26.95px; 
  }
  .login-form {
    gap: 10.78px;
  }
  .entry-input {
    height: 48.52px;
    border-radius: 2px;
    padding-left: 9px;
    padding-top: 7px;
  }
  .entry-input::placeholder {
    font-size: 18px;
    line-height: 20.59px;
  }
  .eye-icon {
    top: 12.34px;
    left: 266.5px;
  }
  .input-checkbox {
    width: 109.97px;
    align-items: center;
  }
  .input-checkbox input {
    width: 17.25px;
    height: 17.25px;
  }
  .input-checkbox span {
    font-size: 13px;
    line-height: 14.87px;
  }
  .forget-password-link a {
    height: 17px;
    font-size: 15px;
    line-height: 17.16px;
  }
  .login-button {
    width: 143px;
    height: 43px;
    top: 410.77px;
    border-radius: 2.16px;
    border-radius: 2.16px;
    font-size: 17px;
    line-height: 21.56px;
    letter-spacing: 0.54px;
  }
  .security-warning-box {
    height: 34.5px;
    top: 483px;
    border-radius: 0 0 4.31px 4.31px;
    box-shadow: 0px 2.16px 4.31px 0px rgba(0, 0, 0, 0.2879);
  }
  .warning-box {
    width: 177.89px;
    height: 20px;
  }
  .warning-box img {
    width: 14px;
    height: 16px;
  }
  .warning-box p {
    width: 155.25px;
    font-size: 14px;
    line-height: 19.41px;
  }
  .introduction img {
    width: 236.08px;
    height: 137.05px;
    top: 324px;
    left: 496.44px;
  }
  .introduction p {
    width: 278px;
    height: 133px;
    top: 489px;
    left: 496px;
    font-size: 15px;
    line-height: 19.91px;
  }
  .introduction-logo {
    width: 476.4px;
    height: 454.5px;
    top: -118.13px;
    left: 839.72px;
  }
  .introduction-logo .logo {
    width: 476.4px;
    height: 174.29px;
    top: 177.11px;
    left: 5.9px;
    z-index: 1;
  }
  .introduction-logo .logo p {
    height: 28.58px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 7px;
  }
  .introduction-logo .logo img {
    width: 361.73px;
    height: 110.78px;
    top: 16.48px;
    left: 57.13px;
  }
  .eclipse {
    width: 454.4px;
    height: 454.4px;
  }
  .desktop-mobile-image {
    width: 965px;
    height: 723.8px;
    top: 125px;
    left: 516.74px;
  }
  .mobile {
    object-fit: scale-down;
    width: 611.62px;
    height: 407.8px;
    top: 288px;
    left: 334px;
    z-index: 2;
  }
  .desktop {
    object-fit: scale-down;
    width: 965.07px;
    height: 723.8px;
  }
  .chat-icon-container {
    width: 75.38px;
    height: 75.38px;
    top: 805.5px;
    left: 1343.25px;
    padding: 6.5px;
  }
  .chat-icon {
    width: 62.38px;
    height: 62.38px;
    top: 6.5px;
    left: 6.5px;
  }
  .chat-icon img {
    width: 30.7px;
    height: 35.09px;
  }
}
@media (min-width: 1920px) {
  body {
    background-position: right calc((100vw - 1920px) / 2 - 185px) bottom -219px;

  }
  .container {
    width: 1920px;
    height: 1077px;
    position: relative;
    margin: 0;
  }
  .user-login-container {
    width: 484.5px;
    height: 720px;
    top: 179px;
    left: 139.5px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2879);
  }
  .app-logo img {
    width: 266.1px;
    height: 81.1px;
    top: 7.95px;
    padding: 9.43px 32.08px 9.79px 31.98px;
  }
  .banner-line {
    height: 4.5px;
    top: 96px;
  }
  .login-form-container {
    width: 300.8px;
    top: 93.8px;
    gap: 36.66px;
  }
  .login-form-title{
    height: 27px;
    font-size: 18px;
    line-height: 26.95px; 
  }
  .login-form-container {
    width: 418.5px;
    top: 130.5px;
  }
  .login-form-container h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 37.5px;
  }
  .login-form {
    gap: 15px;
  }
  .entry-input {
    height: 48.52px;
    border-radius: 2px;
    padding-left: 9px;
    padding-top: 7px;
  }
  .entry-input::placeholder {
    font-size: 18px;
    line-height: 20.59px;
  }
  .eye-icon {
    left: 371px;
  }
  .input-checkbox {
    width: 109.97px;
    align-items: center;
  }
  .input-checkbox input {
    width: 17.25px;
    height: 17.25px;
  }
  .input-checkbox span {
    font-size: 13px;
    line-height: 14.87px;
  }
  .forget-password-link a {
    height: 24px;
    font-size: 21px;
    line-height: 24px;
  }
  .login-button {
    width: 200px;
    height: 60px;
    top: 571.5px;
    border-radius: 3px;
    font-size: 20px;
    line-height: 25px;  
  }
  .security-warning-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    top: 672px;
    background: rgba(94, 107, 117, 1);
    border-radius: 0 0 6px 6px;
  }
  .warning-box {
    width: 177.89px;
    height: 20px;
  }
  .warning-box img {
    width: 14px;
    height: 16px;
  }
  .warning-box p {
    width: 155.25px;
    font-size: 14px;
    line-height: 19.41px;
  }
  .introduction img {
    position: absolute;
    width: 375.05px;
    height: 217.72px;
    top: 320.79px;
    left: 697px;
  }
  .introduction p {
    width: 394px;
    height: 149px;
    top: 566px;
    left: 697px;
    font-size: 20px;
    font-weight: 450;
    line-height: 25px;
  }
  .introduction-logo {
    width: 554.2px;
    height: 552px;
    top: -167px;
    left: 1199px;
  }
  .introduction-logo .logo {
    width: 548.3px;
    height: 200.59px;
    top: 233.46px;
    left: 5.9px;
  }
  .introduction-logo .logo p {
    width: 302.93px;
    height: 32.89px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 8px;
  }
  .introduction-logo .logo img {
    width: 416.32px;
    height: 127.5px;
    top: 18.95px;
    left: 65.84px;
  }
  .eclipse {
    width: 552px;
    height: 552px;
  }
  .desktop-mobile-image {
    object-fit: scale-down;
    width: 1256px;
    height: 942px;
    top: 97px;
    left: 761px;
  }
  .mobile {
    object-fit: scale-down;
    width: 796px;
    height: 530.73px;
    top: 375px;
    left: 436px;
  }
  .desktop {
    object-fit: contain;
    width: 1256px;
    height: 942px;
  }
  .chat-icon-container {
    width: 87px;
    height: 87px;
    top: 972px;
    left: 1815px;
    padding: 7.5px 0px 0px 0px;
  }
  .chat-icon {
    width: 72px;
    height: 72px;
    top: 7.5px;
    left: 7.5px;
  }
  .chat-icon img {
    width: 35.44px;
    height: 40.5px;
  }
}